.img { 
  width:400px ;
  height: 400px;
  border-radius: 50% ;
  object-fit: cover; 
}
.img-oldman {
  
  object-position: left;
}
.img-car {
  object-position: 78%;
  margin-left: 700px;
}
.bg-color {
  width: 100%;
  text-align: center;
  background-image: url(/assets/img/tree-736885_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  border: 5px solid red;
  background-size: cover;
  height: 100vh;
}